<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Axis">

        <!-- OJO: aquí pongo el nombre COMPLETO para que no haya dudas -->
        <activity
            android:name="vtsen.hashnode.dev.newemptycomposeapp.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Axis.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
